In [ ]:
#h1 markdown cell

# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. MATLAB

Some of the commonly used libraries used by Data Scientists include:
1. PANDAS
2. NUMPY
3. Matplotlib
4. Scikit-learn

| Data Science Tools | 
| -------------------|
| JupyterLab|
| R Studio |
| Zepplin Notebook |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.
2+2 = 4

2-2 = 0

2*3 = 6

In [4]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

a = 200/60
print ('200 mins converted to hours =', a)

200 mins converted to hours = 3.3333333333333335

**Objectives**
- List popular languages for Data Science
- List data science libraries
- List three development environment open source tools

## Author
Anand Venkataraman